.home
	height 100%
	display flex
	flex-direction column
	justify-content center
	padding 0 2rem
	background-color get($colors, 'darkBlue')
	font-family $mainFont

.me
	padding-bottom 10rem
	font-size 4.2rem
	line-height 1.1
	color get($colors, 'blue')
	text-transform uppercase

.jobDescription
	font-size 2.5rem
	color get($colors, 'rose')

.me, .jobDescription
	font-weight 100
