.me
  font-size 5rem

  +below(475, 'height')  
    color gold

  +above(475, 'height')  
    color tomato

  +below(475)  
    text-decoration underline

  +above(475)  
    text-transform uppercase 