.navigationContainer
	height 100%
	width 32rem
	position fixed
	top 8rem
	left 0
	background-color get($colors, 'darkBlue')
	overflow auto
	transform translateX(-100%)
	transition transform .71s cubic-bezier(0.89, -0.03, 0.08, 0.98) 0ms
	will-change transform

	// @TODO PASS THIS ANIMATION INTO AN WIREFRAME
	// &:after
	// 	content ''
	// 	display inline-block
	// 	height 100%
	// 	width 100%
	// 	position absolute
	// 	top 0
	// 	left 0
	// 	transform translateY(calc(-100% - 8rem))
	// 	background-color get($colors, 'blue')

	.list
		padding-top 3rem

:global(.menuIsOpened) .navigationContainer
	transform translateX(0px)

	// &:after
	// 	transition transform 0.7s cubic-bezier(0.38, -0.24, 1, 1);
	// 	transform translateY(100%)

